In [1]:
import pandas as pd

### Database-style DataFrame Merges

In [4]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'a', 'c', 'c', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})
df1.reindex(columns = ['key', 'data1'])

  key  data1
0   b      0
1   b      1
2   a      2
3   a      3
4   c      4
5   c      5
6   b      6

In [5]:
df2.reindex(columns = ['key', 'data2'])

  key  data2
0   a      0
1   b      1
2   d      2

In [10]:
pd.merge(df1, df2, on = 'key', how = 'outer')

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    3.0   a    0.0
5    4.0   c    NaN
6    5.0   c    NaN
7    NaN   d    2.0