In [10]:
import pandas as pd
import numpy as np

### reindex

In [3]:
obj = pd.Series([4.5, 6.2, 9.1, 8.8], index = ['d', 'c', 'a', 'b'])
obj

d    4.5
c    6.2
a    9.1
b    8.8
dtype: float64

In [4]:
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0)

a    9.1
b    8.8
c    6.2
d    4.5
e    0.0
dtype: float64

In [9]:
obj_2 = pd.Series(['blue', 'purple', 'yellow'], index = [0, 2, 4])
obj_2.reindex(range(6), method = 'ffill')
# ffill - fill values forward
# bfill - fill values backward

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [16]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                     index = ['a', 'c', 'd'], 
                     columns = ['Wuhan', 'Beijing', 'Guangzhou'])
frame

   Wuhan  Beijing  Guangzhou
a      0        1          2
c      3        4          5
d      6        7          8

In [20]:
frame.reindex(['a', 'b', 'c', 'd'], method = 'bfill')

   Wuhan  Beijing  Guangzhou
a      0        1          2
b      3        4          5
c      3        4          5
d      6        7          8

In [25]:
frame.reindex(columns = ['Wuhan', 'Guangzhou', 'Beijing', 'Hangzhou'])

   Wuhan  Guangzhou  Beijing  Hangzhou
a      0          2        1       NaN
c      3          5        4       NaN
d      6          8        7       NaN