In [2]:
import pandas as pd  
data = [[1,2,3],[4,5,6]]  
index = ['d','e']  
columns=['a','b','c']  
df = pd.DataFrame(data=data, index=index, columns=columns)

In [3]:
df

   a  b  c
d  1  2  3
e  4  5  6

In [4]:
df.loc['d']  # loc accept what type the index is

a    1
b    2
c    3
Name: d, dtype: int64

In [5]:
df.iloc[0]  # iloc only accept int as index number

a    1
b    2
c    3
Name: d, dtype: int64

In [8]:
df.ix['d']  # ix accept any type of index, but not recommanded to use

a    1
b    2
c    3
Name: d, dtype: int64

In [9]:
df.ix[0]

a    1
b    2
c    3
Name: d, dtype: int64