In [1]:
import pandas as pd

### Series 对象基础

In [5]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values, obj.index

(array([ 4,  7, -5,  3]), RangeIndex(start=0, stop=4, step=1))

In [8]:
obj_2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
obj_2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj_2['b']

7

In [10]:
obj_2[['a', 'c']]

a   -5
c    3
dtype: int64

In [11]:
obj_2[obj_2 > 0]

d    4
b    7
c    3
dtype: int64

In [12]:
obj_2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [14]:
'b' in obj_2, 'e' in obj_2

(True, False)

In [16]:
# Dict to Series
sdata = {'Wuhan': '027', 'Beijing': '010', 'Hangzhou': '0571'}
obj_3 = pd.Series(sdata)
obj_3  # sort alphabetly

Beijing      010
Hangzhou    0571
Wuhan        027
dtype: object

In [17]:
cities = ['Wuhan', 'Hangzhou', 'Beijing', 'Shanghai']
obj_4 = pd.Series(sdata, index = cities)
obj_4  # sort by index

Wuhan        027
Hangzhou    0571
Beijing      010
Shanghai     NaN
dtype: object

In [20]:
obj_4.isnull()

Wuhan       False
Hangzhou    False
Beijing     False
Shanghai     True
dtype: bool

In [22]:
obj_3 + obj_4  # Series will align elements automatically

Beijing       010010
Hangzhou    05710571
Shanghai         NaN
Wuhan         027027
dtype: object

In [23]:
obj_4.name = 'area code'
obj_4.index.name = 'city'
obj_4

city
Wuhan        027
Hangzhou    0571
Beijing      010
Shanghai     NaN
Name: area code, dtype: object

In [24]:
obj.index = ['Tom', 'Jerry', 'Lily', 'Lucy']
obj

Tom      4
Jerry    7
Lily    -5
Lucy     3
dtype: int64